<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title
      ><div class="logo"><img src="{{ logo }}" alt="" /></div
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border">
  <ion-card>
    <ion-card-header>
      <ion-card-title
        ><strong
          ><span id="line-1">Find</span> <br /><span id="line-2"
            >the perfect room
          </span></strong
        ><br /><span id="line-3">for your meeting</span></ion-card-title
      >

      <ion-card-subtitle>
        Book conference rooms across all our company locations in India
        <br />Login with your Presidio SSO to get started</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <img src="{{ carouselImg3 }}" alt="" />
      <div class="imggrid">
        <div class="img1">
          <img src="{{ carouselImg4 }}" alt="" />
        </div>
        <div class="img2">
          <img src="{{ carouselImg5 }}" alt="" />
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="button">
    <ion-button expand="block" color="secondary">LOGIN WITH SSO</ion-button>
  </div>
</ion-content>
