$primary-color: #00adf0;
$secondary-color: #ff9e16;

$black: #000000;
$light-black: #333;
$white: #ffffff;
$grey : #707070;
$light-grey : #999999;
$border-grey: #F2F2F2;

$bg-color: #faf9f8;

$profile-active: #17bf38;

$light-white: #f2f2f2;
$icon-grey: #5f6062;

$filter-grey : #5F6062;
$navy-blue: #0B0B45;

$trash-color: #d52323;
$timeline-line-color: #d8d8d8;
